documents/source
utils
.history/*
_site
resources/validations/src/ssp.xsl
resources/validations/report
resources/validations/target
resources/validations/test/xspec/*
*.DS_Store
resources/validations/lib/**.jar
