.hero-unit {
  background-repeat: no-repeat;
  background-position: 90% 0px;
  background-size: cover;
  min-height: 22em;
  padding-top: 6rem;
  padding-bottom: 4rem;

  // tablet
  @media (min-width: 50rem) {
    background-position: center;
    background-image: url(../images/homepage-banner-tablet.jpg);
  }

  // desktop and up
  @media (min-width: 80rem) {
    background-image: url(../images/homepage-banner-desktop.jpeg);
  }
}
