@import 'uswds/scss/theme/uswds-theme-general';
@import 'uswds/scss/theme/uswds-theme-typography';
@import 'uswds/scss/theme/uswds-theme-spacing';
@import 'uswds/scss/theme/uswds-theme-color';
@import 'uswds/scss/theme/uswds-theme-utilities';
@import './uswds-theme-overrides';
@import 'uswds/scss/uswds.scss';

@import 'highlight.js/scss/github.scss';

:root {
  --theme-light-cyan: #0a90b7;
  --theme-dark-cyan: #1889bc;
  --theme-light-blue: #1a4480;
  --theme-dark-blue: #162e51;
  --theme-cornflower: #d9f1fd;
  --theme-red: #c71f25;
  --theme-light-grey: #f2f2f2;
  --theme-grey-text: #757575;
}

.loader {
  border: 8px solid color('base-lightest');
  border-top: 8px solid color('primary-vivid');
  border-radius: 50%;
  width: 2.13rem;
  height: 2.13rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Header & Navigation
.beta-banner {
  background-color: color('accent-cool-lighter');
  color: color('ink');
  margin: auto 0;
  padding: 1rem 0;
}

.bg-error-lighter {
  @include checkbox-and-radio-colors('error-lighter');
}

.bg-warning-lighter {
  @include checkbox-and-radio-colors('warning-lighter');
}

.bg-info-lighter {
  @include checkbox-and-radio-colors('info-lighter');
}
