@import '../../../../node_modules/uswds/dist/scss/theme/uswds-theme-general';
@import '../../../../node_modules/uswds/dist/scss/theme/uswds-theme-typography';
@import '../../../../node_modules/uswds/dist/scss/theme/uswds-theme-spacing';
@import '../../../../node_modules/uswds/dist/scss/theme/uswds-theme-color';
@import '../../../../node_modules/uswds/dist/scss/theme/uswds-theme-utilities';
@import './uswds-theme-overrides';
@import '../../../../node_modules/uswds/dist/scss/uswds.scss';

@import '../../../../node_modules/highlight.js/scss/github.scss';

.loader {
  border: 8px solid color('base-lightest');
  border-top: 8px solid color('primary-vivid');
  border-radius: 50%;
  width: 2.13rem;
  height: 2.13rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Header & Navigation
.beta-banner {
  background-color: color('gold-10v');
  color: color('ink');
  margin: auto 0;
  padding: 0.1rem 0;

  p {
    margin-left: auto;
    margin-right: auto;
  }
}

.bg-error-lighter {
  @include checkbox-and-radio-colors('error-lighter');
}

.bg-warning-lighter {
  @include checkbox-and-radio-colors('warning-lighter');
}

.bg-info-lighter {
  @include checkbox-and-radio-colors('info-lighter');
}
