@import 'uswds/scss/theme/uswds-theme-general';
@import 'uswds/scss/theme/uswds-theme-typography';
@import 'uswds/scss/theme/uswds-theme-spacing';
@import 'uswds/scss/theme/uswds-theme-color';
@import 'uswds/scss/theme/uswds-theme-utilities';
@import './uswds-theme-overrides';
@import 'uswds/scss/uswds.scss';

@import 'highlight.js/scss/github.scss';

:root {
  --theme-light-blue: #d9f1fd;
  --theme-teal: #0a90b7;
  --theme-red: #c71f25;
  --theme-vivid-blue: #1a4480; // 'primary-dark'
  --theme-deep-blue: #162e51; // 'primary-darker'
  --theme-light-grey: #f2f2f2; // background
  --theme-headings-text: #757575; // 'gray-50'
  --theme-body-text: #454545;
  --theme-dark-cyan: #1889bc;
  --theme-dark-text: #5a5353;
}

.text-theme-dark-blue {
  color: var(--theme-dark-cyan) !important;
}

.text-theme-light-blue {
  color: var(--theme-light-blue) !important;
}

.bg-theme-deep-blue {
  background-color: var(--theme-deep-blue) !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}
.text-theme-red {
  color: var(--theme-red);
}
.bg-theme-light-cyan {
  background-color: var(--theme-teal);
}

// Button hover overrides
.usa-button:hover {
  background-color: var(--theme-red) !important;
  transition: 0.5s;
}
.usa-button--unstyled:hover {
  background-color: transparent !important;
}

// nav button
.nav-btn {
  border-color: var(--theme-headings-text) !important;
  color: var(--theme-headings-text) !important;
  font-size: initial;
  &:hover {
    border-color: var(--theme-red) !important;
    color: var(--theme-red) !important;
    background-color: transparent !important;
  }
}

.loader {
  border: 8px solid color('base-lightest');
  border-top: 8px solid color('primary-vivid');
  border-radius: 50%;
  width: 2.13rem;
  height: 2.13rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2em;
  font-size: 2em;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  .loader-message-text {
    background-color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Header & Navigation
.beta-banner {
  background-color: color('accent-cool-lighter');
  color: color('ink');
  margin: auto 0;
  padding: 1rem 0;
}

.bg-error-lighter {
  @include checkbox-and-radio-colors('error-lighter');
}

.bg-warning-lighter {
  @include checkbox-and-radio-colors('warning-lighter');
}

.bg-info-lighter {
  @include checkbox-and-radio-colors('info-lighter');
}

.usa-nav__primary button:hover {
  color: var(--theme-red);
}

.usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after {
  background-color: var(--theme-red);
}

.usa-nav__primary > .usa-nav__primary-item > a:hover {
  color: var(--theme-red);
}
.usa-header--basic .usa-nav__primary-item > .usa-current,
.usa-header--basic .usa-nav__link:hover {
  color: var(--theme-red);
}
@media (min-width: 64em) {
  .usa-nav__primary button[aria-expanded='true'] {
    color: white !important;
  }
}
