summary {
  &:hover {
    cursor: pointer;
  }
}

.usa-icon-list__content ul li {
  list-style-type: none !important;
  cursor: pointer;
}

details > summary {
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}

details > summary .learn-more::after {
  content: ' \22C1';
}

details[open] > summary .learn-more::after {
  content: ' \22C0';
}
