aside {
  background-color: var(--theme-light-blue);
  h2 {
    color: var(--theme-vivid-blue);
  }
  legend {
    color: var(--theme--blue);
  }
  .usa-search input {
    border-radius: 20px 0 0 20px;
    background: white;
    height: 34px;
    padding: 0px 24px;
    border: none;
    font-style: italic;
  }
  .usa-button {
    border-radius: 0 20px 20px 0;
    height: 34px !important;
    background-color: #d0d0d0;
    &:hover {
      background-color: #757575;
    }
  }
  .usa-checkbox,
  .usa-radio {
    background: transparent;
  }
}
