a {
  color: var(--theme-headings-text);
  text-decoration: none;
  line-height: 0.9;
  :visited {
    color: var(--theme-headings-text);
  }
}
.bg-theme-red {
  background-color: var(--theme-red) !important;
}

.active-link {
  color: var(--theme-dark-text) !important;
  font-weight: bold;
}
